.App{
  width:100vw;
  height:100vh;
  display:grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
}
.App-toggle{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pr1{
  width:15rem;
  aspect-ratio:1;
  background-color:black;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr1:hover{
  transform: scale(1.1);
}
.pr2{
  width:15rem;
  aspect-ratio:1;
  background-color:red;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr2:hover{
  transform: scale(1.1);
}
.pr3{
  width:15rem;
  aspect-ratio:1;
  background-color:blue;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr3:hover{
  transform: scale(1.1);
}
.pr4{
  width:15rem;
  aspect-ratio:1;
  background-color:green;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr4:hover{
  transform: scale(1.1);
}
.pr5{
  width:15rem;
  aspect-ratio:1;
  background-color:purple;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr5:hover{
  transform: scale(1.1);
}
.pr6{
  width:15rem;
  aspect-ratio:1;
  background-color:pink;
  border-radius: 50%;
  margin:3em;
  place-self: center;
}
.pr6:hover{
  transform: scale(1.1);
}
