.container-parfum{
    background-color: white;
    max-width:30rem;
    height:38rem;
    overflow: hidden;
    text-align: center;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    box-shadow:0 8px 8px -4px black;
}

.deskstop{
    width: 100%;
}
.mobile{
    width: 100%;
}
.pret{
    color:hsl(158, 36%, 37%);
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    font-size:1.8rem;
    font-weight: 700;
    padding-bottom:0.5em;
}
.pret2{
    color:hsl(158, 36%, 37%);
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    font-size:17px;
    margin-left:3rem;
    font-weight: 500;
    text-decoration: line-through;
    padding-bottom:1em;
}
.img-parfum{
    width: 100%;
    
    display: block;
    
}
.deskstop{
    display:none;
}
.descriere{
    color:hsl(228, 12%, 48%);
    margin-bottom:0px;
    padding-bottom:0.5em;
}
.text{
    box-sizing: border-box;
    text-align: left;
    padding-left:1rem;
}
.titlu-mic{
    color:hsl(228, 12%, 48%);
    margin-bottom:0px;
    padding-bottom:0.5em;
    font-size:14px;
}
.titlu-mare{
    margin-bottom: 0px;
}
.cart{
    background-color:hsl(158, 36%, 37%);
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    height:3rem;
    margin-left:10%;
    border-radius:1rem;
    margin-bottom:1rem;
}
.add{
    color:white;

}
@media(min-width: 600px){
    .container-parfum{
        background-color: white;
        width:38rem;
        height:auto;
        overflow: hidden;
        text-align: center;
        border-radius:1rem;
        display:flex;
        flex-direction:row;
    }
    .img-parfum{
        width:50%;
        min-height:100%;
    }
    .text{
        width:50%;
    }
    .mobile{
        display:none;

    }
    .deskstop{
        display:block;
        height:100%;
    }
}
